#jinja2: lstrip_blocks: "True"
{{ ansible_managed | comment }}

# General parameters
cluster_name = "vault"
log_level = "{{ vault_log_level }}"
ui = {{ vault_ui }}

# HA parameters
cluster_addr = "{{ vault_cluster_addr }}"
api_addr = "{{ vault_api_addr }}"

listener "tcp" {
  address = "{{ bind_api_address }}:{{ vault_api_port }}"
  cluster_address = "{{ bind_cluster_address }}:{{ vault_cluster_port }}"
{% if tls_disable == false and vault_tls_certificate is defined and vault_tls_certificate_key is defined %}
  tls_disable = 0
  tls_cert_file = "{{ vault_backend_path }}/tls/{{ vault_tls_certificate | basename }}"
  tls_key_file = "{{ vault_backend_path }}/tls/{{ vault_tls_certificate_key | basename }}"
  tls_min_version = "{{ tls_min_version }}"
{% else %}
  tls_disable = 1
{% endif -%}
}

storage "raft" {
  path    = "{{ vault_backend_path }}/data"
  node_id = "{{ansible_hostname}}"

{% for cluster_node in vault_cluster_nodes %}
  retry_join {
  {% if tls_disable == false and vault_tls_certificate is defined and vault_tls_certificate_key is defined %}
    leader_api_addr = "https://{{ cluster_node }}:{{ vault_api_port }}"
    leader_tls_servername = "{{ cluster_node }}"
    leader_client_cert_file = "{{ vault_backend_path }}/tls/{{ vault_tls_certificate | basename }}"
    leader_client_key_file = "{{ vault_backend_path }}/tls/{{ vault_tls_certificate_key | basename }}"
  {% else %}
    leader_api_addr = "http://{{ cluster_node }}:{{ vault_api_port }}"
  {% endif %}
  }
{% endfor %}
}